{% extends basetemplate %}
{% set title = "Admin page" %}

{% block headerscriptingExtended %}
<script>
    $(document).ready(function(){
        $.ajax({
            url: controlProxy + "/" + wspath + "/version",
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                $("#controlserver_version").html(data.version);
                $("#controlserver_host").html(data.host);
            }});

        var json_data = {
            "type": test_type,
            "name": test_name
        };

        $.ajax({
            url: statisticProxy.replace("m-cloud","m01") + "/" + statisticpath + "/version",
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                $("#statisticserver_version").html(data.version);
                $("#statisticserver_host").html(data.host);
            }});        
        
        $.ajax({
            url: statisticProxy + "/" + statisticpath + "/opentests/statistics",
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                $("#usageStatistics li").each(function(i,elem) {
                    var id = $(elem).attr("id");
                    var duration = id.substr(5);
                    $(elem).prepend(data[duration].toLocaleString());
                })
            }});
    });
</script>
{% endblock %}

{% block content %}
<div class="uk-container">
<ul>
    <li><a href="Usage.html">Usage report</a></li>
    <li><a href="/RMBTStatisticServer/admin/usage">Statistic server usage report</a></li>
    <li><a href="/RMBTControlServer/admin/qosObjectives">QoS test defintions</a></li>
    <li><a href="setImplausible">Set tests implausible</a></li>
</ul>

<p>
    Control Server version: <span id="controlserver_version"></span>  (<span id="controlserver_host"></span>) &middot; <a href="https://nettest.cz/RMBTControlServer/monitoring">Monitoring</a><br/>
        Statistic Server version: <span id="statisticserver_version"></span> (<span id="statisticserver_host"></span>) &middot; <a href="https://nettest.cz/RMBTStatisticServer/monitoring">Monitoring</a><br/>
    Website version: {{ gitDescribe }}<br />
</p>


<ul id="usageStatistics">
    <li id="usage30min"> tests in the last 30 min</li>
    <li id="usage60min"> tests in the last 60 min</li>
    <li id="usage12h"> tests in the last 12 h</li>
    <li id="usage24h"> tests in the last 24 h</li>
    <li id="usage7d"> tests in the last 7 days</li>
</ul>
</div>



{% endblock %}
