{% extends basetemplate %}
{% set title = Lang.help_upload_title %}
{% set containerclass = "full-width" %}

{% block headerscriptingExtended %}
<link rel="stylesheet" type="text/css" href="../{{ fingerprint['lib/olv3/ol.css'] }}" media="screen"/>
<script src="../{{ fingerprint['lib/olv3/ol.js'] }}" type="text/javascript"></script>
<script type="text/javascript" src="../{{ fingerprint['js/jquery.flot.min.js'] }}"></script>
<script src="../{{ fingerprint['lib/handlebars.min.js'] }}" type="text/javascript"></script>
<script src="../{{ fingerprint['lib/moment.min.js'] }}" type="text/javascript"></script>
<script src="../{{ fingerprint['lib/date-de-AT.js'] }}" type="text/javascript"></script>

<script type="text/javascript" src="../{{ fingerprint['lib/selectize/selectize.min.js'] }}"></script>
{% endblock %}

{% block content %}
<div class="uk-section-default uk-section content">
    <div class="uk-container">
        <h2>{{ Lang.help_upload_title }}</h2>
        <div class="uk-grid-margin uk-container-rtr uk-grid uk-grid-stack" uk-grid="">
            <div class="uk-flex-auto uk-first-column"><p>Pojem rychlost vkládání (upload) označuje směr přenosu dat od
                Vás do internetu. Ve spojení s datovou rychlostí tohoto směru přenosu se doplňuje parametr upload,
                stejně jako download základní jednotkou v b/s, přičemž nejčastěji se setkáte s Mb/s (Megabity za
                sekundu), případně Gb/s (Gigabity za sekundu). Výsledná hodnota rychlosti vkládání, která je součástí
                výsledku Vámi provedeného testu měřicím nástrojem ČTÚ-NetTest je skutečně dosahovanou rychlostí za daný
                interval měření. V případě provádění jednoho testu nástrojem NetTest je to 10 sekund. Tato skutečně
                dosahovaná rychlost charakterizuje skutečný výkon služby přístupu k internetu.
            </p>
                <p>Rychlost vkládání je často inzerována s&nbsp;výrazně nižší hodnotou než rychlost stahování
                    (download). Nicméně i rychlost vkládání je důležitá, protože komunikace na internetu prostřednictvím
                    TCP protokolu probíhají obousměrně (úspěšně stažená data jsou průběžně potvrzována a naopak).
                    Rychlost vkládání je zvláště důležitá např. při odesílání fotografií, sdílení souborů nebo
                    videokonferencích.
                </p>
                <p>Je důležité také uvést, že hodnota rychlosti vkládání odpovídá transportní vrstvě Vaší služby
                    přístupu k internetu (připojení k internetu), a to při použití protokolu TCP, tedy nejčastěji
                    využívaného protokolu transportní vrstvy z pohledu koncového uživatele. Hodnota rychlosti vkládání
                    (upload) by se měla po většinu dne (95 % času dne) pohybovat v rozmezí hodnot maximální rychlosti a
                    běžně dostupné rychlosti. Tyto rychlosti naleznete ve Vašich smluvních podmínkách (např. ve smlouvě
                    o poskytovaní služby přístupu k internetu, případně ve Všeobecných podmínkách, nebo v Ceníku apod.).
                    Rychlost vkládání může na krátký okamžik klesnout pod hodnotu běžně dostupné rychlosti, ovšem
                    nikoliv takovým způsobem, aby tento pokles způsobil vznik velkých odchylek nebo dokonce výpadku
                    služby. Výpadkem služby se rozumí takový stav, kdy rychlost vkládání (upload) klesne pod hodnotu
                    minimální rychlosti uvedenou ve smluvních podmínkách. V těchto případech můžete využít svého práva
                    reklamovat vadné poskytnutí služby u svého poskytovatele služby přístupu k internetu.
                </p>


            </div>
        </div>
    </div>
</div>
{% endblock %}
